/* Fondo del header */
.rectangleheader {
  width: 47%;
  height: 80px;
  margin: 0 auto;
  background-color: #eef3ff;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: -1;
}
/* Fondo del body */
.triangle1 {
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-top: 100px solid #eef3ff;
  border-left: 100px solid transparent;
  border-bottom: 100px solid transparent;
  position: absolute;
  top: 15%;
  z-index: -1;
}
.triangle2 {
  width: 0;
  height: 0;
  border-right: 100px solid #eef3ff;
  border-top: 100px solid transparent;
  border-left: 100px solid transparent;
  border-bottom: 100px solid transparent;
  position: absolute;
  top: 65%;
  left: 37%;
  z-index: -1;
}
.rectangleschedule {
  width: 62%;
  height: 80px;
  margin: 0 auto;
  background-color: #fcfdfe99;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 108%;
  left: 10%;
  z-index: 1;
  border: lightgray 1px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px lightblue;
}
.triangle3 {
  width: 0;
  height: 0;
  border-right: 100px solid #eef3ff;
  border-top: 100px solid transparent;
  border-left: 100px solid transparent;
  border-bottom: 100px solid transparent;
  position: absolute;
  top: 155%;
  right: 0%;
  z-index: -1;
}
.square1 {
  width: 20%;
  height: 60%;
  margin: 0 auto;
  position: absolute;
  top: 200%;
  left: 7%;
  z-index: -1;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}
.square2 {
  width: 20%;
  height: 60%;
  margin: 0 auto;
  position: absolute;
  top: 200%;
  left: 29%;
  z-index: -1;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}
.square3 {
  width: 20%;
  height: 60%;
  margin: 0 auto;
  position: absolute;
  top: 200%;
  left: 51%;
  z-index: -1;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}
.square4 {
  width: 20%;
  height: 60%;
  margin: 0 auto;
  position: absolute;
  top: 200%;
  left: 73%;
  z-index: -1;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}
.triangle4 {
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-top: 100px solid transparent;
  border-left: 100px solid #eef3ff;
  border-bottom: 100px solid transparent;
  position: absolute;
  top: 275%;
  left: 0%;
  z-index: -1;
}
.rectangle1 {
  width: 50%;
  height: 559px;
  margin: 0 auto;
  background-color: #2b6fdd;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 340%;
  left: 0%;
  z-index: -1;
}
.triangle5 {
  width: 0;
  height: 0;
  border-right: 100px solid #eef3ff;
  border-top: 100px solid transparent;
  border-left: 100px solid transparent;
  border-bottom: 100px solid transparent;
  position: absolute;
  top: 450%;
  right: 0%;
  z-index: -1;
}
.rectangle2 {
  width: 50%;
  height: 559px;
  margin: 0 auto;
  background-color: #2b6fdd;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 525%;
  right: 0%;
  z-index: -1;
}
.square5 {
  width: 30%;
  height: 10%;
  margin: 0 auto;
  position: absolute;
  top: 340%;
  left: 57%;
  z-index: -1;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}
.square6 {
  width: 30%;
  height: 20%;
  margin: 0 auto;
  position: absolute;
  top: 355%;
  left: 57%;
  z-index: -1;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}
.square7 {
  width: 30%;
  height: 10%;
  margin: 0 auto;
  position: absolute;
  top: 380%;
  left: 57%;
  z-index: -1;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}
.square8 {
  width: 30%;
  height: 10%;
  margin: 0 auto;
  position: absolute;
  top: 395%;
  left: 57%;
  z-index: -1;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}
.square9 {
  width: 30%;
  height: 10%;
  margin: 0 auto;
  position: absolute;
  top: 410%;
  left: 57%;
  z-index: -1;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}
.sq1 {
  width: 18%;
  height: 45%;
  margin: 0 auto;
  position: absolute;
  top: 527%;
  left: 5%;
  z-index: -1;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}
.sq2 {
  width: 18%;
  height: 45%;
  margin: 0 auto;
  position: absolute;
  top: 527%;
  left: 25%;
  z-index: -1;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}
.sq3 {
  width: 18%;
  height: 45%;
  margin: 0 auto;
  position: absolute;
  top: 578%;
  left: 5%;
  z-index: -1;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}
.sq4 {
  width: 18%;
  height: 45%;
  margin: 0 auto;
  position: absolute;
  top: 578%;
  left: 25%;
  z-index: -1;
  border: 2px solid #eeeeee;
  border-radius: 10px;
}
.line1 {
  width: 50%;
  height: 1px;
  background-color: #eeeeee;
  border: none;
  position: absolute;
  top: 171%;
  right: 0%;
}
.line2 {
  width: 50%;
  height: 1px;
  background-color: #eeeeee;
  border: none;
  position: absolute;
  top: 291%;
  left: 0%;
}
.line3 {
  width: 50%;
  height: 1px;
  background-color: #eeeeee;
  border: none;
  position: absolute;
  top: 466%;
  right: 0%;
}

/* Fondo del footer */
.rectanglefooter {
  width: 100%;
  height: 250px;
  background-color: #eef3ff;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 640%;
  z-index: -1;
}
.triangle6 {
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-top: 100px solid transparent;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #e2e9f9;
  position: absolute;
  top: 655%;
  right: 15%;
}

/* Hovers */
.square1:hover,
.square2:hover,
.square3:hover,
.square4:hover {
  border: none;
  box-shadow: 5px 5px 5px lightblue;
  transform: translateY(0.25em);
}
.iconospread:hover,
.iconoforming:hover,
.iconoprotecting:hover,
.iconocreating:hover {
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 5px lightblue;
  transform: translateY(0.25em);
}
.iconoalcoholic:hover,
.iconostress:hover,
.iconofood:hover,
.iconosleep:hover,
.iconoexercise:hover {
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 5px lightblue;
}
.iconocall:hover,
.iconochat:hover,
.iconovideocall:hover,
.iconomessage:hover {
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 5px lightblue;
  transform: translateY(0.25em);
}

.elementos11 button1:hover,
.elementos11 button2:hover,
.elementos11 button3:hover,
.elementos11 button4:hover {
  color: white;
  background-color: #2c4cca;
  box-shadow: 5px 5px 5px lightblue;
  transform: translateY(0.25em);
}

/* Espacio Read more */
.elementos8 {
  overflow: hidden;
}

.flechita1:hover,
.flechita2:hover,
.flechita3:hover,
.flechita4:hover,
.flechita5:hover {
  cursor: pointer;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 5px lightblue;
}
.more1:checked + div {
  height: auto;
}

/* General */
body {
  font-family: "Fredoka", sans-serif;
  font-size: large;
  color: #1f3e72;
  margin: 0px;
  padding: 0px;
}

/* Imagenes */
.imagen1 {
  width: 50%;
  height: 120%;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 10%;
  left: 48.5%;
  margin-bottom: 100px;
}
.logo1 {
  width: 20%;
  height: 45%;
  filter: grayscale(100%);
  opacity: 0.2;
  position: absolute;
  top: 126%;
  left: 10%;
  margin-bottom: 100px;
}
.logo2 {
  width: 20%;
  height: 20%;
  filter: grayscale(100%);
  opacity: 0.2;
  position: absolute;
  top: 140%;
  left: 30%;
  margin-bottom: 100px;
}
.logo3 {
  width: 15%;
  height: 10%;
  filter: grayscale(100%);
  opacity: 0.2;
  position: absolute;
  top: 145%;
  left: 52%;
  margin-bottom: 100px;
}
.logo4 {
  width: 20%;
  height: 10%;
  filter: grayscale(100%);
  opacity: 0.2;
  position: absolute;
  top: 145%;
  right: 8%;
  margin-bottom: 100px;
}
.imagen2 {
  width: 30%;
  height: 80%;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 300%;
  left: 3%;
  margin-bottom: 100px;
  border-color: #1f3e72;
}
.imagen3 {
  width: 30%;
  height: 80%;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 480%;
  left: 50%;
  margin-bottom: 100px;
  border-color: #1f3e72;
}

/* Header */
header {
  margin-bottom: 150px;
}
header h3 {
  font-size: larger;
  color: #2949c7;
  position: absolute;
  top: 2%;
  left: 5%;
}
header tr {
  position: absolute;
  top: 3%;
  left: 40%;
}
header td {
  padding-left: 28px;
}
header button {
  color: white;
  background-color: #2c4cca;
  padding: 10px 25px;
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 5px lightblue;
}

/* Parte 1 Body */
.section1 {
  margin-bottom: 200px;
}
.titulo1 {
  font-size: 40px;
  position: absolute;
  top: 40;
  left: 5%;
  margin-bottom: 10px;
}
.parrafo1 {
  position: absolute;
  left: 5%;
  top: 60%;
}
.elementos1 {
  position: absolute;
  left: 5%;
  top: 80%;
  padding-left: 28px;
}
.elementos2 {
  font-size: larger;
  font-weight: 600;
  position: absolute;
  left: 10%;
  top: 100%;
  padding-left: 20px;
}
.elementos3 {
  position: absolute;
  left: 15%;
  top: 110%;
  padding-left: 28px;
  z-index: 1;
}
.elementos3 submit {
  color: white;
  background-color: #2c4cca;
  padding: 10px 25px;
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 5px lightblue;
  position: absolute;
  left: 110%;
  top: 90%;
}
.elementos4 {
  font-size: large;
  font-weight: 600;
  position: absolute;
  left: 15%;
  top: 120%;
  padding-left: 28px;
  z-index: 1;
}

/* Parte2 body */
.titulo2 {
  font-size: 30px;
  position: absolute;
  top: 160%;
  left: 5%;
}
.parrafo2 {
  position: absolute;
  left: 5%;
  top: 175%;
}
.elementos5 {
  font-size: 25px;
  font-weight: 500;
}
.elementos5 th1 {
  position: absolute;
  left: 9%;
}
.elementos5 th1 {
  position: absolute;
  left: 9%;
  top: 220%;
}
.elementos5 th2 {
  position: absolute;
  left: 31%;
  top: 220%;
}
.elementos5 th3 {
  position: absolute;
  left: 53%;
  top: 220%;
}
.elementos5 th4 {
  position: absolute;
  left: 75%;
  top: 220%;
}
.elementos6 td1 {
  position: absolute;
  left: 9%;
  top: 233%;
}
.elementos6 td2 {
  position: absolute;
  left: 31%;
  top: 233%;
}
.elementos6 td3 {
  position: absolute;
  left: 53%;
  top: 233%;
}
.elementos6 td4 {
  position: absolute;
  left: 75%;
  top: 233%;
}

/* Parte 3 Body */
.titulo3 {
  font-size: 30px;
  position: absolute;
  top: 280%;
  left: 55%;
}
.parrafo3 {
  position: absolute;
  left: 55%;
  top: 298%;
}
.elementos7 {
  font-size: 20px;
  font-weight: 500;
}
.elementos7 p1 {
  position: absolute;
  left: 63%;
  top: 343%;
}
.elementos7 p2 {
  position: absolute;
  left: 63%;
  top: 358%;
}
.elementos7 p3 {
  position: absolute;
  left: 63%;
  top: 383%;
}
.elementos7 p4 {
  position: absolute;
  left: 63%;
  top: 398%;
}
.elementos7 p5 {
  position: absolute;
  left: 63%;
  top: 413%;
}
.elementos8 {
  font-size: 13px;
  font-weight: lighter;
}
.elementos8 p2 {
  width: 300px;
  position: absolute;
  left: 63%;
  top: 365%;
}

/* Parte 4 body */
.titulo4 {
  font-size: 30px;
  position: absolute;
  top: 458%;
  left: 5%;
}
.parrafo4 {
  position: absolute;
  left: 5%;
  top: 480%;
}
.elementos9 {
  font-size: 25px;
  font-weight: 500;
}
.elementos9 p1 {
  position: absolute;
  left: 13%;
  top: 535%;
}
.elementos9 p2 {
  position: absolute;
  left: 33%;
  top: 535%;
}
.elementos9 p3 {
  position: absolute;
  left: 13%;
  top: 585%;
}
.elementos9 p4 {
  position: absolute;
  left: 33%;
  top: 585%;
}
.elementos10 {
  font-size: 15px;
  font-weight: lighter;
}
.elementos10 p1 {
  position: absolute;
  left: 13%;
  top: 542%;
}
.elementos10 p2 {
  position: absolute;
  left: 33%;
  top: 542%;
}
.elementos10 p3 {
  position: absolute;
  left: 13%;
  top: 592%;
}
.elementos10 p4 {
  position: absolute;
  left: 33%;
  top: 592%;
}
.elementos11 button1 {
  width: 10.5%;
  color: #3454d1;
  background-color: #f1f5ff;
  padding: 20px 25px;
  text-align: center;
  border: none;
  border-radius: 10px;
  position: absolute;
  left: 7%;
  top: 555%;
}
.elementos11 button2 {
  width: 10.5%;
  color: #3454d1;
  background-color: #f1f5ff;
  padding: 20px 25px;
  text-align: center;
  border: none;
  border-radius: 10px;
  position: absolute;
  left: 27%;
  top: 555%;
}
.elementos11 button3 {
  width: 10.5%;
  color: #3454d1;
  background-color: #f1f5ff;
  padding: 20px 25px;
  text-align: center;
  border: none;
  border-radius: 10px;
  position: absolute;
  left: 7%;
  top: 605%;
}
.elementos11 button4 {
  width: 10.5%;
  color: #3454d1;
  background-color: #f1f5ff;
  padding: 20px 25px;
  text-align: center;
  border: none;
  border-radius: 10px;
  position: absolute;
  left: 27%;
  top: 605%;
}

/* Footer */
footer h3 {
  font-size: larger;
  color: #2949c7;
  position: absolute;
  top: 645%;
  left: 5%;
}
footer p {
  font-size: 15px;
  font-weight: lighter;
  position: absolute;
  top: 655%;
  left: 5%;
}
footer p1 {
  font-size: 15px;
  font-weight: lighter;
  position: absolute;
  top: 680%;
  left: 5%;
}
footer p2 {
  font-size: 15px;
  font-weight: lighter;
  position: absolute;
  top: 680%;
  left: 65%;
}
footer p3 {
  font-size: 15px;
  font-weight: lighter;
  position: absolute;
  top: 680%;
  left: 80%;
}
.elementos12 {
  text-align: left;
  position: absolute;
  top: 645%;
  left: 45%;
}
footer th,
td {
  padding-left: 70px;
}

/* iconos */
.iconoescudo {
  width: 15px;
  height: 15px;
  background-color: #fffae7;
}
.iconoestrella {
  width: 15px;
  height: 15px;
  background-color: #fffae7;
}
.iconoreloj {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px lightblue;
}
.iconoubicacion {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px lightblue;
}
.iconocalendario {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px lightblue;
}
.iconolapiz {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px lightblue;
}
.iconospread {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  position: absolute;
  top: 205%;
  left: 9%;
}
.iconoforming {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  position: absolute;
  top: 205%;
  left: 31%;
}
.iconoprotecting {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  position: absolute;
  top: 205%;
  left: 53%;
}
.iconocreating {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  position: absolute;
  top: 205%;
  left: 75%;
}
.flechita1 {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  position: absolute;
  top: 343%;
  left: 84%;
}
.flechita2 {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  position: absolute;
  top: 358%;
  left: 84%;
}
.flechita3 {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  position: absolute;
  top: 383%;
  left: 84%;
}
.flechita4 {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  position: absolute;
  top: 398%;
  left: 84%;
}
.flechita5 {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  position: absolute;
  top: 413%;
  left: 84%;
}
.iconoalcoholic {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: 342%;
  left: 58%;
}
.iconostress {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: 357%;
  left: 58%;
}
.iconofood {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: 382%;
  left: 58%;
}
.iconosleep {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: 397%;
  left: 58%;
}
.iconoexercise {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: 412%;
  left: 58%;
}
.iconocall {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  position: absolute;
  top: 535%;
  left: 7%;
}
.iconochat {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  position: absolute;
  top: 535%;
  left: 27%;
}
.iconovideocall {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  position: absolute;
  top: 585%;
  left: 7%;
}
.iconomessage {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  position: absolute;
  top: 585%;
  left: 27%;
}
